/*****************************************
 * 
 * style.css
 *   CSS definitions for Project2
 *
 *****************************************/
/* makes page fit the window */
html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 100% sans-serif;
  font-size: 1.5em;
  color: #08424D;
  background-color: white; }
  body header {
    color: #65665A; }
  body footer {
    position: absolute;
    left: 45%;
    color: #08424D; }
  body h2 {
    text-align: justify;
    color: #08424D; }
  body p {
    padding: 12px;
    background-color: #F2FFCC;
    font-weight: strong;
    font-size: 1em; }
  body #map_canvas {
    width: 60%;
    height: 70%; }
  body .routes_tb {
    position: absolute;
    left: 62%;
    right: 0px;
    top: 5%;
    background-color: #DAF7A6; }
  body #dyn_schedule {
    position: absolute;
    left: 0%;
    right: 40%;
    top: 82%;
    bottom: 93%; }
  body table.dschedule {
    margin: 2px; }
    body table.dschedule th {
      background-color: #DAF7A6;
      padding: 5px; }
    body table.dschedule tr:nth-child(even) {
      background-color: white; }
    body table.dschedule tr:nth-child(odd) {
      background-color: gray; }
    body table.dschedule td {
      padding: 5px; }
  body table.routes {
    background-color: lightgreen;
    margin: 5px; }
    body table.routes th {
      background-color: #DAF7A6;
      padding: 10px; }
    body table.routes tr:nth-child(even) {
      background-color: white; }
    body table.routes tr:nth-child(odd) {
      background-color: gray; }
    body table.routes td {
      padding: 10px; }
  body #select_route {
    width: 20%;
    height: 200px; }

/*# sourceMappingURL=style.css.map */
