/*****************************************
 * 
 * style.css
 *   CSS definitions for Project2
 *
 *****************************************/

// brand values 
$font-stack: sans-serif;
$brand-primary-color: #08424D;
$brand-secondary-color: #65665A;
$brand-background-color: white;
$brand-padding: 12px;

// cell table characteristics
$route_tb_pos: 62%;
$route_tb_bgcolor: #DAF7A6;
$route-bgcolor: #F2FFCC;
$cell_padding: 10px;
$std_margin: 5px;

// dynamic rte_text characteristics
$schedule_lpos: 0%;
$schedule_rpos: 40%;
$schedule_tpos: 82%;
$schedule_bpos: 93%;
$schedule_padding: 5px;
$schedule_margin: 2px;

// footer attributes
$footer_tpos: 95%;
$footer_lpos: 45%;

@mixin standard-padding($value){
	padding: $value;
}

/* makes page fit the window */
html {
    height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font: 100% $font-stack;
    font-size: 1.5em;
	color: $brand-primary-color;
    background-color: $brand-background-color;
    header {
		color: $brand-secondary-color;
	}
    footer {
        position: absolute;
//        top: $footer_tpos;
        left: $footer_lpos;
		color: $brand-primary-color;
	}
    h2 {
        text-align: justify;
        color: $brand-primary-color;
    }
    p {
		@include standard-padding($brand-padding);
		background-color: $route-bgcolor;
		font-weight: strong;
		font-size: 1em;
    }
    #map_canvas {
        width: 60%; height: 70%;
    } 
    .routes_tb {
		position: absolute;
        left: $route_tb_pos;
        right: 0px;
        top: 5%;
        background-color: $route_tb_bgcolor;
    }
    #dyn_schedule {
		position: absolute;
        left: $schedule_lpos;
        right: $schedule_rpos;
        top: $schedule_tpos;
        bottom: $schedule_bpos;
    }   
    table.dschedule {
        margin: $schedule_margin;
        th { 
             background-color: $route_tb_bgcolor; 
             padding: $schedule_padding;
        }
        tr {
             &:nth-child(even) {
                background-color: white;
             }
             &:nth-child(odd) {
                background-color: gray;
             }
        } 
        td {
             padding: $schedule_padding;
        }
    }
    table.routes {
        background-color: lightgreen;
        margin: $std_margin;
        th { 
             background-color: $route_tb_bgcolor; 
             padding: $cell_padding;
        }
        tr {
             &:nth-child(even) {
                background-color: white;
             }
             &:nth-child(odd) {
                background-color: gray;
             }
        } 
        td {
             padding: $cell_padding;
        }
    }
    #select_route {
        width:20%; height:200px;
    }
}
